<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.dao.memberDAO">
    <insert id="join" parameterType="com.example.demo.dto.memberDTO">
        insert into member(name, id, pw, semester, dept, toeic) values (#{name}, #{id}, #{pw}, #{semester}, #{dept}, 'X')
    </insert>

    <select id="login" parameterType="com.example.demo.dto.memberDTO" resultType="com.example.demo.dto.memberDTO">
        select * from member where id = #{id}
    </select>

    <update id="modify" parameterType="com.example.demo.dto.memberDTO">
        update member set semester = #{semester}, toeic = #{toeic} where id = 2022000000
    </update>

    <select id="calMine" parameterType="com.example.demo.dto.memberDTO" resultType="int">
        select sum(credits) from user_class where id = 2022000000
    </select>

    <select id="calTotal" parameterType="com.example.demo.dto.deptInfoDTO" resultType="int">
        select (common + must_major
            + sel_major + normal + basic + english) as total from dept_info where years = #{years} and dept = #{dept}
    </select>

    <insert id="cinput" parameterType="com.example.demo.dto.userClassDTO">
        insert into user_class(id, dept, field, class_name, credits, english, semester) values (#{id}, #{dept}, #{field}, #{class_name}, #{credits}, #{english}, #{semester})
    </insert>

    <select id="userTotalClass" parameterType="int" resultType="com.example.demo.dto.classDTO">
        select field, class_name, credits, english from class_table where dept = (select dept from user_class where id = 2022000000)
                                                                      and years = (select years from member where id = 2022000000)
    </select>

    <select id="userClass" parameterType="int" resultType="com.example.demo.dto.userClassDTO">
        select * from user_class where id = 2022000000
    </select>
</mapper>