<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.dao.memberDAO">
    <insert id="join" parameterType="com.example.demo.dto.memberDTO">
        insert into member(name, id, pw, semester, dept, toeic) values (#{name}, #{id}, #{pw}, #{semester}, #{dept}, 'X')
    </insert>

    <select id="login" parameterType="com.example.demo.dto.memberDTO" resultType="com.example.demo.dto.memberDTO">
        select * from member where id = #{id}
    </select>

    <update id="modify" parameterType="com.example.demo.dto.memberDTO">
        update member set semester = #{semester}, toeic = #{toeic} where id = #{id}
    </update>

    <!-- 2-3 / 2-4-->
    <select id="calMine" parameterType="com.example.demo.dto.memberDTO" resultType="int">
        select sum(credits) from user_class where id = #{id}
    </select>

    <!-- 2-4 (나중에 + normal 채워넣기) -->
    <select id="calTotal" parameterType="com.example.demo.dto.deptInfoDTO" resultType="int">
        select (common + must_major
            + sel_major + basic + english) as total from dept_info where years = #{years} and dept = #{dept}
    </select>

    <insert id="cinput" parameterType="com.example.demo.dto.userClassDTO">
        insert into user_class(id, dept, field, className, credits, english, semester) values (#{id}, #{dept}, #{field}, #{className}, #{credits}, #{english}, #{semester})
    </insert>

    <!-- 각 분야별 총점 -->
    <select id="fieldTotal" parameterType="com.example.demo.dto.memberDTO" resultType="com.example.demo.dto.deptInfoDTO">
        select * from dept_info where dept = #{dept} and years = #{years}
    </select>

    <!-- 2-2 -->
    <select id="userTotalClass" parameterType="int" resultType="com.example.demo.dto.classDTO">
        select field, className, credits, english, years from class_table where years = (select years from member where id = #{id})
    </select>
    <!-- 2-1 색칠을 위해 넘기는 거 (본인 수강강좌)-->
    <select id="userClass" parameterType="int" resultType="com.example.demo.dto.userClassDTO">
        select * from user_class where id = #{id}
    </select>

    <!-- 3-1 -->
    <select id="userCreditsGroupingField" parameterType="int" resultType="com.example.demo.dto.userClassDTO">
        select field, sum(credits) as credits, id from user_class where id = #{id} group by field
    </select>
    <!-- 3-2 -->
    <select id="avgCreditsGroupingField" parameterType="com.example.demo.dto.memberDTO" resultType="com.example.demo.dto.userClassDTO">
        select field, sum(credits) as credits from user_class where semester = #{semester} and dept = #{dept} group by field
    </select>
    <!-- 3-3 -->
    <select id="countForAvg" parameterType="com.example.demo.dto.memberDTO" resultType="int">
        select count(id) from user_class where semester = #{semester} and dept = #{dept}
    </select>



</mapper>